{% extends 'base.html' %}
{% load static %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    {% block head %}
    {% endblock %}
</head>
<body>
    {% block body %}
    <!-- Masthead -->
    <header class="masthead text-white text-center">
        <div class="overlay"></div>
        <div class="container">

            <!-- Outer Row -->
            <div class="row justify-content-center">

                <div class="col-xl-10 col-lg-12 col-md-9">

                    <div class="card o-hidden border-0 shadow-lg">
                        <div class="card-body text-center p-0">
                            <!-- Nested Row within Card Body -->
                            <div class="p-5">
                                <div class="text-center mb-5">
                                    <img src="{% static 'img/car3_black.png' %}" alt="" width="120" height="100"></img>
                                    <h1 class="h4 text-gray-900 my-2">Escolha Seu Plano</h1>
                                    <h3 class="h5 text-gray-900 my-5">Conta ativada com sucesso!</h3>
                                    <h3 class="h5 text-gray-900 my-5">Escolha um dos planos abaixo para completar o seu cadastro</h3>
                                    <h3 class="h6 text-gray-900 my-5"><b>Os primeiros 7 dias são gratuitos e você pode cancelar a qualquer momento.</b></h3>
                                </div>
                                <div class="col my-4">
                                    <div class="box border-left-primary shadow h-100 py-2">
                                        <a href="/criar_conta">
                                            <div class="box-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col col-lg-4 mr-2 text-left">
                                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Plano Semanal</div>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800">R$ 10/SEMANA</div>
                                                    </div>
                                                    <div class="col mr-2 text-left">
                                                        <div class="h6 mb-1 text-gray-800">Feito para você que está querendo comprar um carro</div>
                                                        <div class="h6 mb-0 text-gray-500">Cobrado semanalmente</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col mb-4">
                                    <div class="box border-left-primary shadow h-100 py-2">
                                        <a href="/criar_conta">
                                            <div class="box-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col col-lg-4 mr-2 text-left">
                                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Plano Mensal</div>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800">R$ 30/MÊS</div>
                                                    </div>
                                                    <div class="col mr-2 text-left">
                                                        <div class="h6 mb-1 text-gray-800">Feito para você que está sempre comprando carros</div>
                                                        <div class="h6 mb-0 text-gray-500">Cobrado mensalmente</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col mb-4">
                                    <div class="box border-left-primary shadow h-100 py-2">
                                        <a href="/criar_conta">
                                            <div class="box-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col col-lg-4 mr-2 text-left">
                                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Plano Anual</div>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800 text-uppercase">R$ 25/MÊS</div>
                                                    </div>
                                                    <div class="col mr-2 text-left">
                                                        <div class="h6 mb-1 text-gray-800">Feito para você que é fã do Radar e merece um preço especial</div>
                                                        <div class="h6 mb-0 text-gray-500">Cobrado integralmente</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <p class="text-gray-500">A primeira cobrança é feita somente após o periodo de experiência</p>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </header>
    {% endblock %}
    {% block foot %}
    {% endblock %}
</body>
</html>
