{% extends 'base.html' %}
{% load static %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    {% block head %}
    {% endblock %}
</head>
<body>
    {% block body %}
    <!-- Masthead -->
    <header class="masthead text-white text-center">
        <div class="overlay"></div>
        <div class="container">

            <!-- Outer Row -->
            <div class="row justify-content-center">

                <div class="col-xl-10 col-lg-12 col-md-9">

                    <div class="card o-hidden border-0 shadow-lg">
                        <div class="card-body text-center p-0">
                            <!-- Nested Row within Card Body -->
                            <div class="p-5">
                                <div class="text-center mb-5">
                                    <img src="{% static 'img/car3_black.png' %}" alt="" width="120" height="100"></img>
                                    <h1 class="h4 text-gray-900 my-2">Escolha Seu Plano</h1>
                                    <h3 class="h5 text-gray-900 my-5">Conta ativada com sucesso!</h3>
                                    <h3 class="h5 text-gray-900 my-5">Escolha um dos planos abaixo para completar o seu cadastro</h3>
                                    <h3 class="h6 text-gray-900 my-5"><b>Os primeiros 7 dias são gratuitos e você pode cancelar a qualquer momento neste período.</b></h3>
                                </div>
                                <div class="col my-4">
                                    <div class="box border-left-primary shadow h-100 py-2">
                                        <div class="box-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col col-lg-4 mr-2 text-left">
                                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Plano Mensal</div>
                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">R$ 19,90/MÊS</div>
                                                    <div class="h7 my-1 text-gray-500">Cancele a qualquer momento</div>
                                                </div>
                                                <div class="col mr-2 text-center">
                                                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                                        <input type="hidden" name="cmd" value="_s-xclick">
                                                        <input type="hidden" name="hosted_button_id" value="TBRJN2ST3EATY">
                                                        <input type="submit" class="btn btn-primary2" name="submit" value="Assinar Plano Mensal" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!">
                                                        <img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col my-4">
                                    <div class="box border-left-primary shadow h-100 py-2">
                                        <div class="box-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col col-lg-4 mr-2 text-left">
                                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Plano Anual</div>
                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">R$ 14,90/MÊS</div>
                                                    <div class="h7 my-1 text-gray-500">*Fidelização 12 meses</div>
                                                </div>
                                                <div class="col mr-2 text-center">
                                                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                                        <input type="hidden" name="cmd" value="_s-xclick">
                                                        <input type="hidden" name="hosted_button_id" value="TBRJN2ST3EATY">
                                                        <input type="submit" class="btn btn-primary2" name="submit" value="Assinar Plano Anual" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!">
                                                        <img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p class="text-gray-500">A primeira cobrança é feita somente após o periodo de experiência</p>
                                <a class="my-3" href="/dashboard">
                                    Assinar depois, ir para o dashboard
                                </a>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </header>
    {% endblock %}
    {% block foot %}
    {% endblock %}
</body>
</html>
