{% extends 'base.html' %}
{% load static %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    {% block head %}
    {% endblock %}
</head>
<body>
    {% block body %}
    <!-- Masthead -->
    <header class="masthead text-white text-center">
        <div class="overlay"></div>
        <div class="container">

            <!-- Outer Row -->
            <div class="row justify-content-center">

                <div class="col-xl-10 col-lg-12 col-md-9">

                    <div class="card o-hidden border-0 shadow-lg">
                        <div class="card-body text-center p-0">
                            <!-- Nested Row within Card Body -->
                            <div class="p-5">
                                <div class="text-center">
                                    <img src="{% static 'img/car3_black.png' %}" alt="" width="120" height="100"></img>
                                    <h1 class="h4 text-gray-900 mb-2">Crie Sua Conta</h1>
                                </div>
                                <form class="user text-center" method="post">
                                    {% csrf_token %}
                                    Faça seu login
                                    <div class="container text-center">
                                        <input class="form-control form-control-user mx-auto my-1" type="text" name="first_name" placeholder="nome" required oninvalid="this.setCustomValidity('Por favor, informe seu nome')" oninput="setCustomValidity('')">
                                        <input class="form-control form-control-user mx-auto my-1" type="text" name="last_name" placeholder="sobrenome" required oninvalid="this.setCustomValidity('Por favor, informe seu sobrenome')" oninput="setCustomValidity('')">
                                        <input class="form-control form-control-user mx-auto my-1" type="email" name="email" placeholder="email" required oninvalid="this.setCustomValidity('Por favor, informe seu email')" oninput="setCustomValidity('')">
                                        <input class="form-control form-control-user mx-auto my-1" type="text" name="username" placeholder="usuário" required oninvalid="this.setCustomValidity('Por favor, defina um nome de usuário')" oninput="setCustomValidity('')">
                                        <input class="form-control form-control-user mx-auto my-1" type="password" name="password1" placeholder="senha" required oninvalid="this.setCustomValidity('Por favor, defina uma sua senha')" oninput="setCustomValidity('')">
                                        <input class="form-control form-control-user mx-auto my-1" type="password" name="password2" placeholder="confirme sua senha" required oninvalid="this.setCustomValidity('Por favor, confirme sua senha')" oninput="setCustomValidity('')">
                                        <div class="container">
                                            <button type="submit" class="btn bg-primary text-white mt-4">Criar Conta</button>
                                        </div>
                                    </div>
                                </form>
                                <p class="text-dark my-5">Você poderá escolher o plano e fazer o pagameno após a confirmação do seu e-mail.</p>
                                <hr>
                                <div class="container text-center mt-2">
                                    <p class="text-dark">Já tem uma conta no Radar do Carro?</p>
                                    <a href="/login">
                                        <button class="btn bg-secondary text-white">Login</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% endblock %}
    {% block foot %}
    {% endblock %}
</body>
</html>
