{% extends 'base.html' %}
{% load static %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    {% block head %}
    {% endblock %}
</head>
<body>
    {% block body %}
    <!-- Masthead -->
    <header class="masthead text-white text-center">
        <div class="overlay"></div>
        <div class="container my-4">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <img src="{% static 'img/car3_white.png' %}" alt="" width="300" height="220"></img>
                    <h1 class="mb-5 pb-5">Radar do Carro</h1>
                </div>
                <div class="container">
                    <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                        <div class="form-row">
                            <div class="mx-auto">
                                <a href="/criar_conta" class="btn btn-primary btn-icon-split">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-arrow-right"></i>
                                    </span>
                                    <span class="text">EXPERIMENTE GRÁTIS POR 7 DIAS</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                    <div class="form-row">
                            <div class="mx-auto">
                                <a class="text-light mr-2" href="#sobre">Saiba Mais</a>
                                |
                                <a class="text-light ml-2" href="#planos">Planos</a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Icons Grid -->
    <section class="features-icons bg-light text-center" id="sobre">
        <h3 class="text-dark">Radar do Carro</h3>
        <p class="text-dark lead mb-5">Anúncios de carros em um só lugar</p>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon">
                            <i class="fas fa-layer-group text-primary"></i>
                        </div>
                        <h3>Completo</h3>
                        <p class="lead mb-0">Reúne anúncios de carros de diversas fontes para você</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon">
                            <i class="fas fa-tachometer-alt text-primary"></i>
                        </div>
                        <h3>Rápido e Preciso</h3>
                        <p class="lead mb-0">Filtros e opções projetados para encontrar o carro perfeito</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                        <div class="features-icons-icon">
                            <i class="fas fa-check-circle text-primary"></i>
                        </div>
                        <h3>Fácil de Usar</h3>
                        <p class="lead mb-0">Uma ferramenta poderosa em uma única tela simples e intuitiva</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="testimonials text-left text-light bg-gray-200" id="preco">
        <div class="container my-5">
            <div class="row">
                <div class="col text-left">
                    <p class="text-dark lead">
                        <b>
                            O Radar do Carro traz eficiência à compra de carros.
                            <br>
                            <br>
                            Com alguns cliques você coloca lado a lado em uma tabela
                            vários anúncios de um carro a sua escolha,
                            e você ainda pode filtrá-los e ordená-los como preferir.
                            <br>
                            <br>
                            E o resultado é uma lista dos melhores carros disponíveis,
                            pronta para que você possa entrar em contato com os proprietários,
                            inspecionar o veículo e fazer a negociação.
                            <br>
                            <br>
                            Seja você uma pessoa que vai comprar apenas um carro,
                            uma pessoa que está constantemente comprando carros
                            ou até mesmo se sua profissão é comprar carros,
                            <b>o Radar do Carro é a ferramenta que você precisa.</b>
                        </b>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Preco -->
    <section class="testimonials text-center text-dark bg-light" id="planos">
        <div class="container my-5">
            <div class="row">
                <div class="col mx-auto">
                    <h3>Planos</h3>
                    <p class="lead mt-5 text-left">
                        Se você está procurando um carro para comprar,
                        <br>o Radar do Carro foi feito pra você.
                        <br>
                        <br>Temos diferentes planos para diferentes necessidades
                        <br>pensados para atender a todos os públicos.
                        <br>
                        <br>Faça seu cadastro agora mesmo!
                        <br><b><b>Experimente grátis por 7 dias.</b></b>
                    </p>
                </div>
                <div class="col">
                    <div class="col my-4">
                        <div class="box border-left-primary shadow h-100 py-2">
                            <a href="/criar_conta">
                                <div class="box-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2 text-left">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Plano Semanal</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">R$ 10/SEMANA</div>
                                        </div>
                                        <div class="col mr-2 text-left">
                                            <div class="h6 mb-0 text-gray-800">Ideal para você que busca comprar um carro</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="box border-left-primary shadow h-100 py-2">
                            <a href="/criar_conta">
                                <div class="box-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2 text-left">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Plano Mensal</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">R$ 30/MÊS</div>
                                        </div>
                                        <div class="col mr-2 text-left">
                                            <div class="h6 mb-0 text-gray-800">Ideal para você que está sempre comprando carros</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="box border-left-primary shadow h-100 py-2">
                            <a href="/criar_conta">
                                <div class="box-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2 text-left">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Plano Anual</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">R$ 25/MÊS</div>
                                        </div>
                                        <div class="col mr-2 text-left">
                                            <div class="h6 mb-0 text-gray-800"><b>NOVO!</b> Plano especial para você que é fã do Radar</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-5">
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                    <div class="form-row">
                        <div class="mx-auto">
                            <a href="/criar_conta" class="btn btn-primary btn-icon-split">
                                <span class="icon text-white-50">
                                    <i class="fas fa-arrow-right"></i>
                                </span>
                                <span class="text">EXPERIMENTE GRÁTIS POR 7 DIAS</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <footer class="sticky-footer bg-black text-light">
        <div class="copyright text-center bg-gray-900">
            Copyright &copy; 2019
            <span>Radar do Carro</span>
        </div>
    </footer>
    {% endblock %}
    {% block foot %}
    {% endblock %}
</body>
</html>
