{# radar_do_carro_main/templates/radar_do_carro_main/list.html #}
{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load static %}

<!doctype html>
<html>
    <head>
        {% block head %}
        <title>Radar do Carro - Listagem</title>
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <div class="container">
            <div class="container">
                <div class="panel panel-primary filterable">
                    <table class="table">
                        <tbody>
                            {% render_table table %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% endblock %}

    </body>
</html>
