{% extends 'base.html' %}
{% load static %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    {% block head %}
    {% endblock %}
</head>
<body>
    {% block body %}
    <!-- Begin Page Content -->
    <div class="container-fluid mt-4">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-primary">Dashboard</h1>

        <br>

        <!-- Content Row -->
        <div class="row">
            <!-- Cards de Busca Rápida -->
            <!-- Link carros mais vedidos: https://revistaautoesporte.globo.com/Noticias/noticia/2019/01/top-50-os-carros-mais-vendidos-de-2018.html-->
            <!-- Link carros mais vedidos por categoria: https://revistaautoesporte.globo.com/Noticias/noticia/2019/01/os-carros-mais-vendidos-de-2018.html-->
            <div class="col mb-4">
                <div class="box border-left-primary shadow h-100 py-2">
                    <a href="/dashboard/mais_vendidos">
                        <div class="box-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Onix, HB20, KA, Gol, Kwid</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">Mais Vendidos 2018</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col mb-4">
                <div class="box border-left-primary shadow h-100 py-2">
                    <a href="/dashboard/seda_compacto">
                        <div class="box-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Prisma, Virtus, Ka Sedã, Voyage, HB20S</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">Sedã Compacto</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col mb-4">
                <div class="box border-left-primary shadow h-100 py-2">
                    <a href="/dashboard/seda_medio">
                        <div class="box-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Corolla, Civic, Cruze, Sentra, Jetta</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">Sedã Médio</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col mb-4">
                <a href="/dashboard/suv">
                    <div class="box border-left-primary shadow h-100 py-2">
                        <div class="box-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Compass, Creta, HR-V, Kicks, Renegade</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">SUV</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col mb-4">
                <div class="box border-left-primary shadow h-100 py-2">
                    <div class="box-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Escolha uma Marca/Modelo</div>
                                <div class="dropdown">
                                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Marca/Modelo
                                    </button>
                                    <div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuButton">
                                        <h6 class="dropdown-header">Chevrolet-GM</h6>
                                        <a class="dropdown-item" href="/dashboard/cobalt">Cobalt</a>
                                        <a class="dropdown-item" href="/dashboard/cruze_sedan">Cruze Sedan</a>
                                        <a class="dropdown-item" href="/dashboard/onix">Onix</a>
                                        <a class="dropdown-item" href="/dashboard/prisma">Prisma</a>
                                        <a class="dropdown-item" href="/dashboard/s10">S10</a>
                                        <a class="dropdown-item" href="/dashboard/spin">Spin</a>
                                        <a class="dropdown-item" href="/dashboard/tracker">Tracker</a>
                                        <div class="dropdown-divider"></div>
                                        <h6 class="dropdown-header">Fiat</h6>
                                        <a class="dropdown-item" href="/dashboard/argo">Argo</a>
                                        <a class="dropdown-item" href="/dashboard/cronos">Cronos</a>
                                        <a class="dropdown-item" href="/dashboard/mobi">Mobi</a>
                                        <a class="dropdown-item" href="/dashboard/siena">Siena</a>
                                        <a class="dropdown-item" href="/dashboard/strada">Strada</a>
                                        <a class="dropdown-item" href="/dashboard/toro">Toro</a>
                                        <a class="dropdown-item" href="/dashboard/uno">Uno</a>
                                        <div class="dropdown-divider"></div>
                                        <h6 class="dropdown-header">Ford</h6>
                                        <a class="dropdown-item" href="/dashboard/ecosport">Ecosport</a>
                                        <a class="dropdown-item" href="/dashboard/fiesta">Fiesta</a>
                                        <a class="dropdown-item" href="/dashboard/focus">Focus</a>
                                        <a class="dropdown-item" href="/dashboard/fusion">Fusion</a>
                                        <a class="dropdown-item" href="/dashboard/ka">Ka</a>
                                        <a class="dropdown-item" href="/dashboard/ka_sedan">Ka Sedan</a>
                                        <a class="dropdown-item" href="/dashboard/ranger">Ranger</a>
                                        <div class="dropdown-divider"></div>
                                        <h6 class="dropdown-header">Honda</h6>
                                        <a class="dropdown-item" href="/dashboard/city">City</a>
                                        <a class="dropdown-item" href="/dashboard/civic">Civic</a>
                                        <a class="dropdown-item" href="/dashboard/fit">Fit</a>
                                        <a class="dropdown-item" href="/dashboard/hr-v">HR-V</a>
                                        <a class="dropdown-item" href="/dashboard/wr-v">WR-V</a>
                                        <div class="dropdown-divider"></div>
                                        <h6 class="dropdown-header">Hiunday</h6>
                                        <a class="dropdown-item" href="/dashboard/creta">Creta</a>
                                        <a class="dropdown-item" href="/dashboard/hb20">HB20</a>
                                        <a class="dropdown-item" href="/dashboard/hb20s">HB20S</a>
                                        <div class="dropdown-divider"></div>
                                        <h6 class="dropdown-header">Jeep</h6>
                                        <a class="dropdown-item" href="/dashboard/compass">Compass</a>
                                        <a class="dropdown-item" href="/dashboard/renegade">Renegade</a>
                                        <div class="dropdown-divider"></div>
                                        <h6 class="dropdown-header">Nissan</h6>
                                        <a class="dropdown-item" href="/dashboard/kicks">Kicks</a>
                                        <a class="dropdown-item" href="/dashboard/sentra">Sentra</a>
                                        <a class="dropdown-item" href="/dashboard/versa">Versa</a>
                                        <div class="dropdown-divider"></div>
                                        <h6 class="dropdown-header">Renault</h6>
                                        <a class="dropdown-item" href="/dashboard/captur">Captur</a>
                                        <a class="dropdown-item" href="/dashboard/duster">Duster</a>
                                        <a class="dropdown-item" href="/dashboard/kwid">Kwid</a>
                                        <a class="dropdown-item" href="/dashboard/logan">Logan</a>
                                        <a class="dropdown-item" href="/dashboard/sandero">Sandero</a>
                                        <div class="dropdown-divider"></div>
                                        <h6 class="dropdown-header">Toyota</h6>
                                        <a class="dropdown-item" href="/dashboard/corolla">Corolla</a>
                                        <a class="dropdown-item" href="/dashboard/etios_hatch">Etios Hatch</a>
                                        <a class="dropdown-item" href="/dashboard/etios_sedan">Etios Sedan</a>
                                        <a class="dropdown-item" href="/dashboard/hilux">Hilux</a>
                                        <a class="dropdown-item" href="/dashboard/yaris_hatch">Yaris Hatch</a>
                                        <a class="dropdown-item" href="/dashboard/yaris_sedan">Yaris Sedan</a>
                                        <div class="dropdown-divider"></div>
                                        <h6 class="dropdown-header">VW</h6>
                                        <a class="dropdown-item" href="/dashboard/amarok">Amarok</a>
                                        <a class="dropdown-item" href="/dashboard/fox">Fox/Cross Fox</a>
                                        <a class="dropdown-item" href="/dashboard/gol">Gol</a>
                                        <a class="dropdown-item" href="/dashboard/golf">Golf</a>
                                        <a class="dropdown-item" href="/dashboard/jetta">Jetta</a>
                                        <a class="dropdown-item" href="/dashboard/polo">Polo</a>
                                        <a class="dropdown-item" href="/dashboard/saveiro">Saveiro</a>
                                        <a class="dropdown-item" href="/dashboard/up">Up</a>
                                        <a class="dropdown-item" href="/dashboard/virtus">Virtus</a>
                                        <a class="dropdown-item" href="/dashboard/voyage">Voyage</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <!--<h3 class="h6 mb-2 text-gray-800">Filtros</h3>-->

        <div class="box border-left-primary shadow h-100 py-2">
            <div class="box-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Refine sua busca</div>
                        <div class="h5 mb-2 font-weight-bold text-gray-800">Filtros</div>
                        <form method='GET' name='filtro' action='?'>
                            <div class="row">
                                <div class="col mb-3">
                                    <select class="form-control" name="ano_min" placeholder="ano min">
                                        <option value="">Ano Min</option>
                                        <option value="2019">2019</option>
                                        <option value="2018">2018</option>
                                        <option value="2017">2017</option>
                                        <option value="2016">2016</option>
                                        <option value="2015">2015</option>
                                        <option value="2014">2014</option>
                                        <option value="2013">2013</option>
                                        <option value="2012">2012</option>
                                        <option value="2011">2011</option>
                                        <option value="2010">2010</option>
                                        <option value="2009">2009</option>
                                        <option value="2008">2008</option>
                                        <option value="2007">2007</option>
                                        <option value="2006">2006</option>
                                        <option value="2005">2005</option>
                                        <option value="2004">2004</option>
                                        <option value="2003">2003</option>
                                        <option value="2002">2002</option>
                                        <option value="2001">2001</option>
                                        <option value="2000">2000</option>
                                    </select>
                                </div>
                                <div class="col mb-3">
                                    <select class="form-control" name="ano_max" placeholder="ano max">
                                        <option value="">Ano Max</option>
                                        <option value="2019">2019</option>
                                        <option value="2018">2018</option>
                                        <option value="2017">2017</option>
                                        <option value="2016">2016</option>
                                        <option value="2015">2015</option>
                                        <option value="2014">2014</option>
                                        <option value="2013">2013</option>
                                        <option value="2012">2012</option>
                                        <option value="2011">2011</option>
                                        <option value="2010">2010</option>
                                        <option value="2009">2009</option>
                                        <option value="2008">2008</option>
                                        <option value="2007">2007</option>
                                        <option value="2006">2006</option>
                                        <option value="2005">2005</option>
                                        <option value="2004">2004</option>
                                        <option value="2003">2003</option>
                                        <option value="2002">2002</option>
                                        <option value="2001">2001</option>
                                        <option value="2000">2000</option>
                                    </select>
                                </div>
                                <div class="col mb-3">
                                    <input class="form-control" name="preco_min" placeholder="Preço Min">
                                </div>
                                <div class="col mb-3">
                                    <input class="form-control" name="preco_max" placeholder="Preço Max">
                                </div>
                                <div class="col mb-3">
                                    <select class="form-control" name="km_min" placeholder="km min">
                                        <option value="">Km Min</option>
                                        <option value="0">0</option>
                                        <option value="5000">5.000</option>
                                        <option value="10000">10.000</option>
                                        <option value="20000">20.000</option>
                                        <option value="30000">30.000</option>
                                        <option value="40000">40.000</option>
                                        <option value="50000">50.000</option>
                                        <option value="75000">75.000</option>
                                        <option value="100000">100.000</option>
                                        <option value="150000">150.000</option>
                                        <option value="200000">200.000</option>
                                        <option value="300000">300.000</option>
                                        <option value="400000">400.000</option>
                                        <option value="500000">500.000</option>
                                    </select>
                                </div>
                                <div class="col mb-3">
                                    <select class="form-control" name="km_max" placeholder="km max">
                                        <option value="">Km Max</option>
                                        <option value="0">0</option>
                                        <option value="5000">5.000</option>
                                        <option value="10000">10.000</option>
                                        <option value="20000">20.000</option>
                                        <option value="30000">30.000</option>
                                        <option value="40000">40.000</option>
                                        <option value="50000">50.000</option>
                                        <option value="75000">75.000</option>
                                        <option value="100000">100.000</option>
                                        <option value="150000">150.000</option>
                                        <option value="200000">200.000</option>
                                        <option value="300000">300.000</option>
                                        <option value="400000">400.000</option>
                                        <option value="500000">500.000</option>
                                    </select>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-outline-primary">Filtrar</button>
                            <a href="/dashboard"><button type="button" class="btn btn-outline-primary">Resetar</button></a>
                        </form>
                    </div>
                    <div class="col-auto">
                        <!--<i class="fas fa-chevron-circle-right fa-2x text-gray-500"></i>-->
                    </div>
                </div>
            </div>
        </div>

        <br>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <div class="row">
                    <h6 class="ml-3 mr-2 mt-1 font-weight-bold text-primary">Carros no Seu Radar:<h6>
                        <h6 class="mt-1 font-weight-bold text-gray-800">{{ page }}</</h6>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <tbody>
                            {% render_table table %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
    {% endblock %}
</body>
</html>
